@model MVCTema2PS.Models.User

@{
    ViewBag.Title = "ForgotPassword";
}

<h2>Reset Password</h2>


@using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
{
    //this is for create form tag
    @Html.AntiForgeryToken()    //this is for prevent CSRF attack
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    
    <table>
        <tr>
            <td>@Html.LabelFor(a => a.username)</td>
            <td>@Html.TextBoxFor(a => a.username)</td>
            <td>@Html.ValidationMessageFor(a => a.username)</td>
        </tr>
        
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Reset" />
            </td>
            <td>
                @Html.ActionLink("Back", "Login", "User")
            </td>
            <td></td>
        </tr>
    </table>

    if (@ViewBag.NewPassword != null)
    {
        <div style="border:1px solid red">
            New Password: @ViewBag.NewPassword
        </div>
    }
    
    if (@ViewBag.UnknownUser != null)
    {
        <div style="border:1px solid red">
            @ViewBag.UnknownUser
        </div>
    }
    
    
    
    
}








@* This below line is for create javascript section *@

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}