@model IEnumerable<MVCTema2PS.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Row)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Row)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketID })
        </td>
    </tr>
}

</table>
