@{
    ViewBag.Title = "BookingDetails";
}

<h2>BookingDetails</h2>

<h3>Client Details:</h3>
<p>@ViewBag.Client</p>

<h3>Booking Details:</h3>
<p>Check in:  @ViewBag.CheckIn</p>
<p>Check out: @ViewBag.CheckOut</p>
<p>@ViewBag.TotalPrice</p>

<h3>Rooms:</h3>
<p>@ViewBag.Rooms</p>


    
