@model HotelManager.Models.Booking

@{
    ViewBag.Title = "Booking Details";
}

<h2>Choose check-in and check-out dates</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Booking</legend>
      
        <div class="editor-label">
            @Html.LabelFor(model => model.CheckIn)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckIn)
            @Html.ValidationMessageFor(model => model.CheckIn)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CheckOut)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CheckOut)
            @Html.ValidationMessageFor(model => model.CheckOut)
        </div>

        <p>
            <input type="submit" value="Choose Rooms" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
